<!DOCTYPE html>
<html>
    <title>minesweeper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet/game_play.css') }}">
    <body>
        <center>
        <h1 class="h1" >Minesweeper</h1>
        <table>
            <form action = 'http://127.0.0.1:5000/game_play' method ='post'> 
            {% for i in range(height) %}
            <tr>
                {% for j in range(width) %}  
                    {% if board[i][j] == '?' %}                
                        <td>  <button class="game_button" type="submit" name="name" value='{{i}}|{{j}}'>{{board[i][j]}}</button>    </td>                    
                    {% elif board[i][j] != '?' %}  
                        <td > <button class="game_button_2" type="button" >{{board[i][j]}}</button> </td>
                    {% endif %}        
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <h1></h1>
        <form action = 'http://127.0.0.1:5000/game_play' method ='post'> 
            <div class="toggle-buttons"> 
                <input type="radio"  id="b1" name="set_flag" value="0" checked>
                <label for="b1">Uncover!</label>
                <input type="radio"  id="b2" name="set_flag" value="1">
                <label for="b2">Set flag!</label> 
                <input type="radio"  id="b3" name="set_flag" value="2">
                <label for="b3">Unset flag!</label> 
            </div> 
        </form>
        </center>
        <form action = 'http://127.0.0.1:5000/' >
            <button class='button' type="submit" >New Game!</button>
        </form>
    </body>
</html>


   
   